- if target.errors.any?
  .alert.alert-danger
    %a.close{"aria-label" => "close", "data-dismiss" => "alert", href: "#"} &times;
    %strong
      #{pluralize(target.errors.count, "error")} prohibited this #{target.class.name.downcase}
      from generating pdf:
    %ul
      - target.errors.messages.each do |kay, msg|
        %p= msg.first
