table {
  table-layout: fixed;
}
table td {
  vertical-align: top;
  width: 50%;
  padding: 0px 10px 0px 10px;
}

h4.subtitle {
  text-align: center;
  margin-bottom: 0px;
}
p.subtitle {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 10pt;
}
p {
  font-size: 10pt;
  text-align: justify;
}
.underline {
  text-decoration: underline;
}
h4, h5, p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.padding_top_20 {
  padding-top: 20px;
}
.padding_top_bottom_5 {
  padding-bottom: 5px;
  padding-top: 5px;
}
