%nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    #navbar.navbar-collapse.collapse
      .navbar-form.navbar-right
        .btn-group
          - if current_user
            = link_to('Edit Profile', edit_user_path(current_user.id), class: 'btn btn-primary') unless edit_page?
            = link_to('Logout', :log_out, method: :post, class: 'btn btn-primary')
          - else
            = link_to('Sign Up', :sign_up, class: 'btn btn-primary') unless sign_up_page?
            = link_to('Log In', :log_in, class: 'btn btn-primary')
