!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title UsersContract
    = stylesheet_link_tag 'prince', media: 'all', 'data-turbolinks-track' => true
  %body.pdf_only
    = yield
